# dependencies
/node_modules

# source and scripts
/src
/scripts
/.github
.gitignore

# testing and coverage
vitest.config.ts
/coverage

# bun (not production ready)
bun.lockb
bunfig.toml
node_modules.bun

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.eslintrc.cjs
.prettierrc
.prettierignore
tsconfig*.json
