# dependencies
/node_modules

# source and scripts
/src
/scripts
/.github
.gitignore

# testing and coverage
vitest.config.ts
/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.prettierignore
tsconfig.json
tsconfig.test.json
